/* Osnovni stilovi */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000; /* Crna pozadina */
    color: #f06292; /* Roza tekst */
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Header sa animacijom */
  header {
    background-color: #1a1a1a; /* Tamno siva, skoro crna */
    color: #f06292; /* Roze tekst */
    padding: 50px;
    text-align: center;
    border-bottom: 3px solid #f06292; /* Roza ivica ispod */
    animation: fadeIn 2s ease-in-out;
  }
  
  
  /* Animacija za header */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Sekcija sa podacima o meni */
  section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #333333; /* Tamno siva pozadina sekcija */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #f06292; /* Roza boja za naslove */
    font-size: 24px;
  }
  
  /* Stil za linkove */
  a {
    color: #f06292; /* Roza boja za linkove */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Stajling sekcija */
  .about, .projects, .contact {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Responsivnost za mobilne uređaje */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    header {
      padding: 20px;
    }
  
    section {
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
    .skills ul,
.projects ul {
  padding-left: 20px;
}

.skills li,
.projects li {
  color: #f8bbd0;
  margin-bottom: 10px;
}

.contact a {
  color: #f06292;
  font-weight: bold;
}


.profile-photo img {
    width: 130px;  /* Ovdje postaviš željenu širinu slike */
    height: 130px; /* Isto kao širinu za visinu */
    border-radius: 50%; /* Krug oko slike */
    object-fit: cover; /* Slika se prilagođava veličini bez izobličenja */
    border: 3px solid #f06292; /* Boja ivice */
    margin: 20px auto; /* Dodajemo margine za lepu poziciju */
    display: block; /* Centriranje */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Efekat senke */
  }
  
  
  }
  