/* Osnovni stilovi */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000; /* Crna pozadina */
    color: #f06292; /* Roza tekst */
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Header sa animacijom */
  header {
    background-color: #1a1a1a; /* Tamno siva, skoro crna */
    color: #f06292; /* Roze tekst */
    padding: 50px;
    text-align: center;
    border-bottom: 3px solid #f06292; /* Roza ivica ispod */
    animation: fadeIn 2s ease-in-out;
  }
  
  
  /* Animacija za header */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Sekcija sa podacima o meni */
  section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #333333; /* Tamno siva pozadina sekcija */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #f06292; /* Roza boja za naslove */
    font-size: 24px;
  }
  
  /* Stil za linkove */
  a {
    color: #f06292; /* Roza boja za linkove */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Stajling sekcija */
  .about, .projects, .contact {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Responsivnost za mobilne uređaje */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    header {
      padding: 20px;
    }
  
    section {
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
    .skills ul,
.projects ul {
  padding-left: 20px;
}

.skills li,
.projects li {
  color: #f8bbd0;
  margin-bottom: 10px;
}

.contact a {
  color: #f06292;
  font-weight: bold;
}



  
  
  .btn {
    background-color: #f06292;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #ec407a;
  }

 .profile-photo {
  text-align: center; /* Centriranje sadržaja unutar kontejnera */
  margin: 0 auto; /* Centriranje kontejnera na stranici */
}

.profile-photo img {
  width: 130px; /* Širina slike */
  height: 130px; /* Visina slike */
  border-radius: 50%; /* Kružna slika */
  object-fit: cover; /* Popunjava okvir bez izobličenja */
  border: 3px solid #f06292; /* Roza okvir oko slike */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Senka oko slike */
  display: block; /* Potrebno da bi se primenio centar */
  margin-top: 10px; /* Dodajemo malo razmaka na vrhu */
}

  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  }
  